In [8]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('sample_data/netflix_titles_nov_2019.csv')

# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head())

Primeras filas del DataFrame:
    show_id                                title                    director  \
0  81193313                            Chocolate                         NaN
1  81197050  Guatemala: Heart of the Mayan World  Luis Ara, Ignacio Jaunsolo
2  81213894                      The Zoya Factor             Abhishek Sharma
3  81082007                            Atlantics                   Mati Diop
4  80213643                      Chip and Potato                         NaN

                                                cast  \
0  Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
1                                  Christian Morales
2  Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...
3  Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...
4  Abigail Oliver, Andrea Libman, Briana Buckmast...

                    country         date_added  release_year rating  \
0               South Korea  November 30, 2019          2019  TV-14
1                       NaN  November 30, 2019          2019   TV-G
2                     India  November 30, 2019          2019  TV-14
3  France, Senegal, Belgium  November 29, 2019          2019  TV-14
4    Canada, United Kingdom                NaN          2019   TV-Y

    duration                                          listed_in  \
0   1 Season  International TV Shows, Korean TV Shows, Roman...
1     67 min                Documentaries, International Movies
2    135 min             Comedies, Dramas, International Movies
3    106 min   Dramas, Independent Movies, International Movies
4  2 Seasons                                           Kids' TV

                                         description     type
0  Brought together by meaningful meals in the pa...  TV Show
1  From Sierra de las Minas to Esquipulas, explor...    Movie
2  A goofy copywriter unwittingly convinces the I...    Movie
3  Arranged to marry a rich man, young Ada is cru...    Movie
4  Lovable pug Chip starts kindergarten, makes ne...  TV Show

In [9]:

# Seleccionar la columna 'Edad'
titulos = df['title']
print("\nColumna 'title':")
print(edad)

Columna 'title':
0                                 Chocolate
1       Guatemala: Heart of the Mayan World
2                           The Zoya Factor
3                                 Atlantics
4                           Chip and Potato
                       ...
5832            Mad Ron's Prevues from Hell
5833                               Splatter
5834                Just Another Love Story
5835                        Dinner for Five
5836                   To and From New York
Name: title, Length: 5837, dtype: object

In [10]:

# Filtrar filas donde el tipo seae películo
movies = df[df['type'] > "Movie"]
print("\nFilas donde hay películas:")
print(movies)

Filas donde hay películas:
       show_id                                        title     director  \
0     81193313                                    Chocolate          NaN
4     80213643                              Chip and Potato          NaN
8     70205672                             La Reina del Sur          NaN
11    81094391                         Sugar Rush Christmas          NaN
13    81152641                         The Charming Stepmom          NaN
...        ...                                          ...          ...
5811  70259177                                  Jack Taylor  Stuart Orme
5814  70258566          DreamWorks Spooky Stories: Volume 2          NaN
5815  70242630             DreamWorks Shrek's Swamp Stories          NaN
5816  70242629  DreamWorks How to Train Your Dragon Legends          NaN
5835  70157452                              Dinner for Five          NaN

                                                   cast  \
0     Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
4     Abigail Oliver, Andrea Libman, Briana Buckmast...
8     Kate del Castillo, Cristina Urgel, Alberto Jim...
11          Hunter March, Candace Nelson, Adriano Zumbo
13    Shahkrit Yamnarm, View Wannarot Sontichai, Kri...
...                                                 ...
5811  Iain Glen, Killian Scott, Nora-Jane Noone, Tar...
5814  Seth Rogen, Kiefer Sutherland, Will Arnett, Hu...
5815  Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...
5816  Jay Baruchel, Gerard Butler, Craig Ferguson, A...
5835                                                NaN

                                     country         date_added  release_year  \
0                                South Korea  November 30, 2019          2019
4                     Canada, United Kingdom                NaN          2019
8     United States, Spain, Colombia, Mexico                NaN          2019
11                             United States  November 29, 2019          2019
13                                       NaN  November 29, 2019          2019
...                                      ...                ...           ...
5811                  United States, Ireland     March 31, 2013          2016
5814                                     NaN   October 24, 2012          2011
5815                           United States    August 17, 2012          2008
5816                           United States      July 20, 2012          2011
5835                           United States   February 4, 2008          2007

     rating   duration                                          listed_in  \
0     TV-14   1 Season  International TV Shows, Korean TV Shows, Roman...
4      TV-Y  2 Seasons                                           Kids' TV
8     TV-14  2 Seasons  Crime TV Shows, International TV Shows, Spanis...
11    TV-PG   1 Season                                         Reality TV
13    TV-14   1 Season  International TV Shows, Romantic TV Shows, TV ...
...     ...        ...                                                ...
5811  TV-MA   1 Season  Crime TV Shows, International TV Shows, TV Dramas
5814  TV-PG   1 Season                              Kids' TV, TV Comedies
5815  TV-PG   1 Season       Kids' TV, TV Action & Adventure, TV Comedies
5816  TV-PG   1 Season  Kids' TV, TV Action & Adventure, TV Sci-Fi & F...
5835  TV-MA   1 Season                       Stand-Up Comedy & Talk Shows

                                            description     type
0     Brought together by meaningful meals in the pa...  TV Show
4     Lovable pug Chip starts kindergarten, makes ne...  TV Show
8     This compelling show tells the story of the le...  TV Show
11    It's everything you love about "Sugar Rush" – ...  TV Show
13    A quirky fashion student becomes the nanny of ...  TV Show
...                                                 ...      ...
5811  Ken Bruen's bestselling crime novels leap to l...  TV Show
5814  The Shrek characters parody the music video "T...  TV Show
5815  Shrek celebrates Halloween, Puss in Boots is c...  TV Show
5816  In this set of shorts, Hiccup and the gang lea...  TV Show
5835  In each episode, four celebrities join host Jo...  TV Show

[1898 rows x 12 columns]

In [11]:
# Agregar una nueva columna 'País'
df['Año actual'] = 2024
print("\nDataFrame con la nueva columna 'País':")
print(df)

DataFrame con la nueva columna 'País':
       show_id                                title  \
0     81193313                            Chocolate
1     81197050  Guatemala: Heart of the Mayan World
2     81213894                      The Zoya Factor
3     81082007                            Atlantics
4     80213643                      Chip and Potato
...        ...                                  ...
5832  70141644          Mad Ron's Prevues from Hell
5833  70127998                             Splatter
5834  70084180              Just Another Love Story
5835  70157452                      Dinner for Five
5836  70053412                 To and From New York

                        director  \
0                            NaN
1     Luis Ara, Ignacio Jaunsolo
2                Abhishek Sharma
3                      Mati Diop
4                            NaN
...                          ...
5832                  Jim Monaco
5833                   Joe Dante
5834                Ole Bornedal
5835                         NaN
5836        Sorin Dan Mihalcescu

                                                   cast  \
0     Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
1                                     Christian Morales
2     Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...
3     Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...
4     Abigail Oliver, Andrea Libman, Briana Buckmast...
...                                                 ...
5832  Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...
5833  Corey Feldman, Tony Todd, Tara Leigh, Erin Way...
5834  Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...
5835                                                NaN
5836  Barbara King, Shaana Diya, John Krisiukenas, Y...

                       country         date_added  release_year rating  \
0                  South Korea  November 30, 2019          2019  TV-14
1                          NaN  November 30, 2019          2019   TV-G
2                        India  November 30, 2019          2019  TV-14
3     France, Senegal, Belgium  November 29, 2019          2019  TV-14
4       Canada, United Kingdom                NaN          2019   TV-Y
...                        ...                ...           ...    ...
5832             United States   November 1, 2010          1987     NR
5833             United States  November 18, 2009          2009  TV-14
5834                   Denmark        May 5, 2009          2007     NR
5835             United States   February 4, 2008          2007  TV-MA
5836             United States    January 1, 2008          2006     NR

       duration                                          listed_in  \
0      1 Season  International TV Shows, Korean TV Shows, Roman...
1        67 min                Documentaries, International Movies
2       135 min             Comedies, Dramas, International Movies
3       106 min   Dramas, Independent Movies, International Movies
4     2 Seasons                                           Kids' TV
...         ...                                                ...
5832     84 min                         Cult Movies, Horror Movies
5833     29 min                                      Horror Movies
5834    104 min                       Dramas, International Movies
5835   1 Season                       Stand-Up Comedy & Talk Shows
5836     81 min              Dramas, Independent Movies, Thrillers

                                            description     type  Año actual
0     Brought together by meaningful meals in the pa...  TV Show        2024
1     From Sierra de las Minas to Esquipulas, explor...    Movie        2024
2     A goofy copywriter unwittingly convinces the I...    Movie        2024
3     Arranged to marry a rich man, young Ada is cru...    Movie        2024
4     Lovable pug Chip starts kindergarten, makes ne...  TV Show        2024
...                                                 ...      ...         ...
5832  This collection cherry-picks trailers, forgott...    Movie        2024
5833  After committing suicide, a washed-up rocker r...    Movie        2024
5834  When he causes a car accident that leaves a yo...    Movie        2024
5835  In each episode, four celebrities join host Jo...  TV Show        2024
5836  While covering a story in New York City, a Sea...    Movie        2024

[5837 rows x 13 columns]

In [13]:
# Calcular la media de la columna 'Edad'
media_anio = df['release_year'].mean()
print("\nMedia del año de lanzamiento:")
print(media_anio)

Media del año de lanzamiento:
2013.6885386328593

In [14]:
# Guardar el DataFrame manipulado en un nuevo archivo CSV
df.to_csv('datos_modificados.csv', index=False)
print("\nDatos guardados en 'datos_modificados.csv'")

Datos guardados en 'datos_modificados.csv'